 #customButton {
    border: var(--orange) solid ;
    color: var(--orange) ;
    border-radius: 8%;
    border-width: 1.2px;
}

#customButton:hover {
    background-color: var(--orange);
    color: var(--blue);
}

.myNavbar{
    border-bottom: var(--orange) solid;
}

#contactButton {
    border: var(--orange) solid;
    color: var(--orange) ;
    border-radius: 8%;
    border-width: 1.2px;
}

#contactButton:hover {
    background-color: var(--orange);
    color: var(--blue);
}


#projectsButton {
    border: var(--orange) solid;
    color: var(--orange) ;
    border-radius: 8%;
    border-width: 1.2px;
}

#projectsButton:hover {
    background-color: var(--orange);
    color: var(--blue);
}


